*{
    margin: 0;
    padding: 0;
    /* box: border-box; */
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 900px;
    width: 80%;
    margin: 0 auto;
}

.row{
    width: 100%;
    border: 1px dashed red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .col{
        width: calc(100% / 3);
    }
}

.card{
    width: 300px;
    height: 750px;
    background-color: green;
}


header{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;

    border: 1px dashed red;
    

    .heading-page{
        border: 1px dashed blue;
        flex-grow: 1;
    }

    .togglers{
            border: 1px dashed blue;
            text-align: end;
            flex-grow: 1;
     }
    
}

.heading-page p{
   /* line-height: 1.5rem; */
}

.heading-page h1{
    font-size: 40px;
}

/* Utilities------------------ */

.text-small{
    font-size: 13px;
}


.text-muted{
    color:rgb(97, 96, 96);
}

/* --------------------------- */




