*{
    margin: 0;
    padding: 0;
    /* box: border-box; */
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 900px;
    width: 80%;
    margin: 0 auto;
}

.row{
    width: 100%;
    border: 1px dashed red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .col{
        width: calc(100% / 3);
    }
}

.card{
    width: 300px;
    height: 750px;
    background-color: green;
}


header{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;

    border: 1px dashed red;
    /* gap: 10%; */

    .heading-page{
        /* width: 550px; */
        /* height: 60px; */
        /* background-color: red; */
        border: 1px dashed blue;
        /* margin: 1rem; */
       /*  flex-grow: 1; */
    }

    .togglers{
            /* width: 140px; */
            /* height: 60px; */
            border: 1px dashed fuchsia;
            background-color: yellow;

            text-align: end;

            flex-grow: 1;
     }
    
}


