*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 900px;
   /*  width: 80%; */
    margin: 0 auto;
}

.row{
   /*  width: 100%; */
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 15px;
    

    
}

.col{
    flex-basis: calc(100% / 3 - (25px * 2) / 3);
    /* background-color: red; */
    min-width: 290px;
    flex-grow: 1;
}

.card-generic{
    text-align: center;
    border: 2px dashed blue;

    background-color: white;
    padding: 1.5rem;

    .card-header{
        text-align: start;
    }

    ul {
        list-style-type: none;
        /* text-align: center; */

        li{
        line-height: 2rem;
        }
    }

    div.price{
        /* text-align: center; */
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .price-terms{
        margin-bottom: 1rem;

        .price-detail{
            background-color: rgb(220, 215, 215);
            border-radius: 10px;
            padding: 0.25rem;
        }
    }
    
}

#card3{
    padding: 1.5rem;
    background-color: white;
    border: 2px dashed green;

    .ul-flexator{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* gap: 15px; */

        div{
            min-width: 290px;

            ul {
            list-style-type: none;
            text-align: center;

            li{
            line-height: 2rem;
            }
        }  

        }

      
    }
    
}




header{
    margin-bottom: 2rem;

    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;

    border: 1px dashed red;
    

    .heading-page{
        border: 1px dashed blue;
        flex-grow: 1;
    }

    .togglers{
            border: 1px dashed blue;
            text-align: end;
            flex-grow: 1;
     }
    
}

.heading-page h1{
    font-size: 40px;
}

/* Utilities------------------ */

.text-small{
    font-size: 13px;
}


.text-muted{
    color:rgb(97, 96, 96);
}

.d-flex{
    display: flex;
}

.text-xxl{
    font-size: 42px;
    font-weight: bold;
}

/* --------------------------- */




