*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variabili css */
:root{
    --bg-color-generic: white;
    --bg-color-accent: rgb(27, 21, 213);
    --text-color-generic: white;
    --text-color-accent: rgb(27, 21, 213);
}
/* --------------- */

body{
    font-family: sans-serif;
}

.container{
    max-width: 900px;
   /*  width: 80%; */
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    /* gap: 25px; */
    

    
}

.col{
    /* flex-basis: calc(100% / 3 - (25px * 2) / 3); */
    flex-basis: calc(100% / 3);
    min-width: 290px;
    flex-grow: 1;
}

.card-generic{
    margin: 0.75rem;
    text-align: center;
    padding: 1.5rem;
    background-color: var(--bg-color-generic);
    
    border-radius: 20px;
    box-shadow: 0 0 10px gray;

    .card-header{
        text-align: start;
    }

    ul {
        list-style-type: none;

        li{
        line-height: 2rem;
        }
    }

    div.price{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .price-terms{
        margin-bottom: 1rem;
    }
    
}

/* lista flessibile terza card */
#ul-flexator{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    div{
        min-width: 290px;
    }

      
}

.btn{
    border-style: none;
    padding: 1rem 4rem; 
    background-color: var(--bg-color-accent) ;
    border-width: 0px;
    border-color: transparent;
    border-radius: 15px;
    color: white;
    margin: 1.5rem auto;
    font-weight: bold;
    width: 100%;
}

header{
    margin-bottom: 2rem;

    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;    

    .heading-page{
        flex-grow: 1;
    }

    .togglers{
            text-align: end;
            flex-grow: 1;
     }
    
}

.heading-page h1{
    font-size: 40px;
}

/* Utilities------------------ */

.text-small{
    font-size: 13px;
}


.text-muted{
    color:rgb(97, 96, 96);
}

.text-generic{
    color: var(--text-color-generic);
}

.d-flex{
    display: flex;
}

.text-xxl{
    font-size: 42px;
    font-weight: bold;
}

.d-block{
    display: block;
}

.accent{
    background: linear-gradient(0deg, rgba(119, 0, 255, 1) 0%, rgba(6, 37, 209, 1) 100%);
    
    color: white;
    box-shadow: none;

    button{
        background-color: var(--bg-color-generic);
        color: var(--text-color-accent);
    }
}

.price-detail{
    background-color: rgb(220, 215, 215);
    border-radius: 10px;
    padding: 0.25rem;
}

.pd-accent-bg{
   background-color: rgb(129, 129, 255) ; 
}
/* --------------------------- */




